<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <mat-card class="todo-filters">
      <mat-card-title class="todo-list-title">Todos</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-form-field class="input-field">
          <mat-label>Owner</mat-label>
          <input matInput id="owner-name-input" placeholder="Filter by owner"
          [(ngModel)]="ownerName" (input)="updateFilter()">
          <mat-hint>Filtered on client</mat-hint>
        </mat-form-field>

        <mat-form-field class="input-field">
          <mat-label>Category</mat-label>
          <input matInput id="category-input" placeholder="Filter by category"
          [(ngModel)]="todoCategory" (input)="updateFilter()">
          <mat-hint>Filtered on client</mat-hint>
        </mat-form-field>
        </div>
  </mat-card-content>
</mat-card>
</div>
</div>
<div>
  <mat-card-content>
    <mat-nav-list class="todo-nav-list">
      <h3 mat-subheader>Todos</h3>
      <a mat-list-item *ngFor="let todo of this.filteredTodos" [routerLink]="['/todos', todo._id]" class="todo-list-item">
        <h3 matLine class="todo-list-name"> {{todo.owner}} </h3>
        <p matLine class="todo-list-category"> {{todo.category}} </p>
      </a>
    </mat-nav-list>
  </mat-card-content>
</div>
